{% extends "base.html" %} {% block content %}

<body>
  <form action="/main_menu/student_table">
    <button type="submit" class="btn" id="loginBtn" name="submit">
      Back to Student Table
    </button>
  </form>
  <div class="d-flex justify-content-center text-center p-5">
    <h1 class="font-weight-bold" id="title">Add Student</h1>
  </div>
  <div class="d-flex form-group justify-content-center p-5 container">
    <form action="" method="post">
      <div class="row">
        <div class="col-4">
          <label>Student ID:</label>
        </div>
        <div class="col-8">
          <input type="text" class="form-control" name="student_id" /><br />
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label>Name:</label>
        </div>
        <div class="col-8">
          <input type="text" class="form-control" name="name" /><br />
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label>Year Level:</label>
        </div>
        <div class="col-8">
          <input type="text" class="form-control" name="year_level" /><br />
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label>Gender:</label>
        </div>
        <div class="col-8">
          <input type="text" class="form-control" name="gender" /><br />
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <label>Course:</label>
          <select class="form-control" name="course">
            {% for row in data %}
            <option>{{row[0]}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="row d-flex justify-content-center py-4">
        <button
          type="submit"
          class="btn"
          id="loginBtn"
          name="submit"
          onclick="return confirm('Are you sure you want to confirm?')"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</body>
{% endblock %}
